/*--------------------------------------------------------------FORM-----------------------------------------------*/

#product__create {
    display: none;

    position: fixed;
    top: 4vh;

    /* top: 80px; */
    z-index: 5;
}

body {
    overflow: visible;
    
}

.close__form {
    display: grid;
    position: absolute;
    right: 10px;
    top: 10px;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    color: white;
    background-color:   rgba(242, 45, 80, 1);

    align-content: center;
    justify-items: center;    

    cursor: pointer;
}

.form {
    border-radius: 20px;
    background: #E9F0FF;
    height: fit-content;
    padding: 75px;
    text-align: center;
    box-shadow: 0px 0px 50px black;

}

.form_title {
    margin-bottom: 40px;
    color: #061126;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.active_form {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.form_line {
    border-radius: 10px;
    background: #D7E3FC;
    height: 70px;
    width: 100%;
    color: #062D78;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.form-image__container {
    position: relative; 
    color: rgba(6, 45, 120, 0.5);
    text-align: left;
}

.form__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* visibility: hidden; */
    opacity: 0%;
    z-index: 5;
}


#selected_id {
    color: rgba(6, 45, 120, 0.5);
}

.form_button{
    font-weight: 500;
    font-size: 30px;

    background: #2D70F2;
    color: #D7E3FC;

    border-radius: 10px;
    height: 70px;
    width: 100%;
    padding: 10px;
}


.form_button:hover{
    color: #2D70F2;
    background: #D7E3FC;
}

.file_button{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}  

.autorization_form{
    height: 600px;
}

.active_form_auth{
    height: 70%;
}

.logout_form{
    height: 550px;
}

.active_form_logout{
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-around;
}

@media (max-width:650px) {

    .form_title{
        font-size: 40px;
    }
    .form_line{
        font-size: 25px;
        height: 50px;
        padding-left: 30px;
    }

    .logout_title{
        font-size: 30px;
    }

    .form{
        padding: 40px;
    }

    .autorization_form{
        height: 400px;
    }

    .logout_form{
        height: 300px;
    }

    .form_button{
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .form_title{
        font-size: 25px;
    }

    .logout_title{
        font-size: 20px;
    }

    .form_line{
        font-size: 20px;
        height: 40px;
        padding-left: 15px;
    }

    .form{
        padding: 30px;
        border-radius: 30px;
    }

    .autorization_form{
        height: 300px;
    }

    .logout_form{
        height: 250px;
    }

    .form_button{
        font-weight: 500;
        font-size: 15px;
    }
}

.yes_button{
    background-color: #2D70F2;
    color: #D7E3FC;
}

.no_button{
    background: #F22D50; 
}

.no_button:hover{
    color: #F22D50;
}