* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #E9F0FF;
    font-family: Inter, sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}


.ctn {
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}

/* @media (max-width:1114px) {
    .ctn {
        width: 900px;
    }
}

@media (max-width:940px) {
    .ctn {
        width: 750px;
    }
}

@media (max-width:790px) {
    .ctn {
        width: 90%;
    }
} */


@media (max-width: 400px) {
    .ctn {
        width: 95%;
        max-width: 95%;
    }
}

/* ------------------------------in common classes------------------------------ */
.container {
    max-width: 74%;
    width: 74%;
    margin: 110px auto;
}


@media (max-width: 400px) {
    .container {
        width: 95%;
        max-width: 95%;
    }
}


/*---------------------------------HEADER--------------------------------------*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    background: rgba(233, 240, 255, 0.99);
    box-shadow: 0px 4px 20px 0px rgba(6, 17, 38, 0.20);
}

.header_ctn {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ctn>* {
    width: 40px;
    height: 40px;
}

@media (max-width:780px) {
    .header_ctn>* {
        width: 30px;
        height: 30px;
    }

    .header {
        height: 50px;
    }
}


.main {
    display: grid;
    width: 100%;
    background-color: #D7E3FC;
}



.footer {
    background: #062D78;
    width: 100%;
    height: 153px;
    /* margin-top: 100px; */
}

.footer-content_one {
    color: #D7E3FC;
    font-size: 40px;
    font-weight: 500;
    margin-right: 40px;
}

.fv {
    font-size: 50px;
    font-weight: 900;
}

.footer_ctn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width:1114px) {
    .footer-content_one{
        font-size: 30px;
    }
}

@media (max-width:770px) {
    .footer{
        margin-top: 50px;
        height: 90px;
    }
}

@media (max-width:500px) {
    .footer-content_one{
        font-size: 15px;
        margin-right: 15px;
    }
    .footer{
        height: 50px;
    }
}
