.container__product {
    display: flex;

    background-color: #D7E3FC;
    border-radius: 40px;
    margin: 20px 0;
    padding: 40px;

    gap: 54px;

    font-size: 30px;
    font-weight: 600;
}

.image__product {
    height: 200px;
    width: 125px;
    border-radius: 40px;
}

.product__info {
    display: grid;
    width: fit-content;
}

.product__price, .product__fio {
    color: #2D70F2;
}

.product__city {
    font-weight: 400;
    font-size: 20px;
}

.product__price, .product__fio {
    font-size: 25px;
}

.product__fio {
    bottom: 0px;
}


.product-info__detail {
    align-self: start;
}

.product-info__owner {
    align-self: end;
    margin-bottom: 15px;
}

.product__fio > img {
    height: 20px;
    width: 20px;
    margin-left: 0px;
}

@media (max-width: 585px) {
    .container__product {
        padding: 25px;
        gap: 34px;
        font-size: 25px;
        font-weight: 600;
    }

    .product__city {
        font-weight: 400;
        font-size: 15px;
    }
    
    .product__price, .product__fio {
        font-size: 18px;
    }
}

@media (max-width: 475px) {
    .image__product {
        height: 100px;
        width: 67spx;
        border-radius: 40px;
        align-self: center;
    }

    .product__fio > img {
            /* height: 13px;
            width: 13px;
            margin-left: 5px; */
            display: none;
    }
}