{% extends "_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/news_list.css' %}">
    <link rel="stylesheet" href="{% static 'styles/paginator.css' %}">
{% endblock styles %}

{% block title %}Список новостей{% endblock title %}  

{% block main %}


<div class="container container__news">

<div class="news_list main_news">
    <img class="list_img__main" src="{{ main_news.image.url }}" />
    <p class="list_date__main">{{ main_news.date }}</p>
    <p class="list_title__main"><a href="{% url 'specific_news' main_news.id %}">{{ main_news.title }}</a></p>
</div>

<div class="container__subnews">
    
{% for news in news_list %}
    <div class="news_list sub_news">
        <img class="list_img__sub" src="{{ news.image.url }}">
        <p class="list_date__sub">{{ news.date }}</p>
        <p class="list_title__sub"><a href="{% url 'specific_news' news.id %}">{{ news.title }}</a></p>
    </div>
{% endfor %}
</div>

<div class="paginator">
{% if is_paginated %}

    {% if page_obj.paginator.page_range|length < 5 %}
        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <a href="?page={{i}}"><div class="paginator-options paginator-current"> {{ i }}</div></a>
            {% else %}
                <a href="?page={{i}}"><div class="paginator-options"> {{ i }}</div></a>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="?page=1"><div class="paginator-options paginator-current">&laquo;</div></a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.previous_page_number }}</div></a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.next_page_number }}</div></a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}"><div class="paginator-options paginator-current">&raquo;</div></a>
    {% endif %}
{% endif %}
</div>

</div>
{% endblock main %}