{% extends "_base.html" %}
{% load static %}


{% block main %}
<h1>Затычка новостей</h1>
{% for news in news_list %}
    <a href="{% url 'specific_news' news.id %}">{{ news.title }}</a>
    <p>{{ news.description }}</p>
    <img src="{{ news.image.url }}">
    <p>{{ news.date }}</p>
    <hr>
{% empty %}
    <p>Нет новостей.</p>
{% endfor %}

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current-page">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock main %}