{% extends "_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}">
<link rel="stylesheet" href="{% static 'styles/paginator.css' %}">
<link rel="stylesheet" href="{% static 'styles/services.css' %}">
{% endblock styles %}



{% block main %}
<div class="container">

<p class="flag-services">
    {% if is_products %}
    <span class="service__current">Товары</span>
    |     
    <a href="{% url 'services_list' %}"><span>Услуги</span></a> 
    {% else %}
    <a href="{% url 'products_list' %}"><span>Товары</span></a> 
    |     
    <span class="service__current">Услуги</span> 
    {% endif %}
</p> 

{% for item in products %}
<div class="container__product">
    <img class="image__product" src="{{ item.image.url }}" alt="">

    <div class="product__info">
        <div class="product-info__detail">
            <p>{{ item.title }}</p>
            <p class="product__price">от {{ item.price }} р. </p>
        </div>
        <div class="product-info__owner">
            <p class="product__city">{{ item.city }}</p>
            <p class="product__fio">{{ item.user.first_name }} {{ item.user.last_name }} <img src="{% static 'statics/mes__product.svg' %}" alt=""></p>
        </div>
    </div>
</div>
{% endfor %}

<div class="paginator">
    {% if is_paginated %}
    
        {% if page_obj.paginator.page_range|length < 5 %}
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <a href="?page={{i}}"><div class="paginator-options paginator-current"> {{ i }}</div></a>
                {% else %}
                    <a href="?page={{i}}"><div class="paginator-options"> {{ i }}</div></a>
                {% endif %}
            {% endfor %}
        {% else %}
            <a href="?page=1"><div class="paginator-options paginator-current">&laquo;</div></a>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.previous_page_number }}</div></a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.next_page_number }}</div></a>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}"><div class="paginator-options paginator-current">&raquo;</div></a>
        {% endif %}
    {% endif %}
    </div>

</div>
{% endblock main %}