{% load static %}
<footer>
    <div class="ctn">
        <div class="footer_top">
            <div class="footer_contacts">
                <h3 class="footer_title">
                    Контакты
                </h3>
                <p class="footer_text">
                    +7 (863) 240-71-40
                </p>
            </div>
            <div class="footer_location">
                <h3 class="footer_title">
                    Местоположение
                </h3>
                <div class="footer_text">
                    Ростов-на-Дону, Соборный переулок, 36
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="footer_bottom">
            <li class="footer_li">
                <a href="{% url 'homepage' %}" class="footer_link">О проекте</a>
            </li>
            <li class="footer_li">
                <a href="{% url 'news_page' %}" class="footer_link">Новости</a>
            </li>
            <li class="footer_li">
                <a href="{% url 'products_list' %}" class="footer_link">Товары и услуги</a>
            </li>
            <li class="footer_li">
                <a href="{% url 'user_list' %}" class="footer_link">Предприниматели</a>
            </li>
            {% if user.is_authenticated %}
                <li class="footer_li">
                    <a href="{% url 'user_detail' pk=user.pk %}" class="footer_link">Личный кабинет</a>
                </li>
            {% else %}
                <li class="footer_li">
                    <a href="{% url 'account_login' %}" class="footer_link">Вход</a>
                </li>
            {% endif %}

        </div>
    </div>
</footer>