{% load static %}

<header>
    <div class="container header__content">
        <img src="{% static 'statics/logo.png' %}" alt="logo" class="header_logo">
        <div class="burger_menu" onclick="openHeaderMenu()" >
            <svg viewBox="0 0 39 34" class="header_logo" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="25.9999" width="39" height="8" rx="2" fill="#2D70F2" />
                <rect y="12.9999" width="39" height="8" rx="2" fill="#2D70F2" />
                <rect y="-6.10352e-05" width="39" height="8" rx="2" fill="#2D70F2" />
            </svg>
        </div>
    </div>
</header>