{% extends "_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/developers.css' %}">
<link rel="stylesheet" href="{% static 'styles/services.css' %}">
{% endblock styles %}

{% block title %}
Разработчики
{% endblock title %}


{% block main %}
<div class="container container__margin">

<p class="flag-services">
    <span class="service__current">Разработчики</span>
</p> 

<div class="container__developers">
{% for dev in developers %}
    <div class="card__developer">
        <img class="image__developers" src="{% static dev.image %}" alt="">
        <div class="dev__text__container">
            <div class="developer__fio">
                {{ dev.first_name }} {{ dev.last_name }}
            </div>
            <div class="developer__about">
                {{ dev.about }}
            </div>
            <a class="resume__developer" href="{% static dev.resume %}" download>Резюме</a>
        </div>
    </div>
{% endfor %}
</div>

</div>
{% endblock main %}