{% extends "_base.html" %}
{% load static %}


{% block title %}Домашняя страница{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<style type="text/css">
    .main_section {
    background: url("{% static 'statics/main_background.png' %}");
}
</style>
{% endblock styles %}

{% block main %}
<div class="ctn main_ctn">
        <section class="main_section">
            <h1 class="main_title">
                Лучшее решение для предпренимателей Ленинского района
            </h1>
            <h2 class="main_desc">
                Площадка для кооперации и коммуникации между предприятиями и организациями Ленинского района
            </h2>
            <a href="{% url 'account_signup' %}" class="main_button">Зарегистрироваться</a>
        </section>
    </div>
    <div class="ctn banner_ctn">
        <img src="{{ news.image.url }}" alt="banner" class="banner">
        <div class="banner_text">
            <p class="banner_date">{{ news.date }}</p>
            <p class="banner_title"> {{ news.title }} </p>
            <a href="{% url 'specific_news' pk=news.pk %}">Подробнее...</a>
        </div>
    </div>
    <div class="ctn">
        <section class="rayon rayon_ctn">
            <h2 class="rayon-title">Ленинский район - центр Ростовского бизнеса</h2>
            <div class="rayon-content">
                <img src="{% static 'statics/landscape.png' %}" alt="landscape" class="rayon-img">
                <p class="rayon-desc">
                    В нашем районе активно развиваются 10000 предприятий, поэтому было принято решение создать сервис,
                    помогающий им взаимодействовать и сотрудничать без лишних усилий
                </p>
            </div>
        </section>
    </div>
    <div class="ctn project_ctn">
        <section class="project">
            <h2 class="project-title">
                Почему стоит попробовать?
            </h2>
            <div class="project_cards">
                <div class="project-card">
                    <img src="{% static 'statics/sale.svg' %}" alt="" class="project-card_img">
                    <h3 class="project-card_desc">
                        Обменивайтесь торговыми предложениям
                    </h3>
                </div>
                <div class="project-card">
                    <img src="{% static 'statics/stats.svg' %}" alt="" class="project-card_img">
                    <h3 class="project-card_desc">
                        Контактируйте с администрацией района
                    </h3>
                </div>
                <div class="project-card">
                    <img src="{% static 'statics/clock.svg' %}" alt="" class="project-card_img">
                    <h3 class="project-card_desc">
                        Будьте в курсе новостей района
                    </h3>
                </div>
            </div>
        </section>
    </div>
{% endblock main %}
