{% extends "_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/detail_news.css' %}">
{% endblock styles %}

{% block title %}{{ news.title }}{% endblock title %}     

{% block main %}
<div class="news-content">
    <div class="news-data__detail">{{ news.date }}</div>
    <h1 class="news-title__detail">{{ news.title }}</h1>
    <img class="news-image__detail" src="{{ news.image.url }}">
    {% autoescape on %}
    <p class="news-description__detail">{{ news.description | linebreaksbr }}</p>
    {% endautoescape %}
</div>
{% endblock main %}