* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #E9F0FF;
    font-family: Inter, sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.ctn {
    padding-left: 20px;
    padding-right: 20px;
    width: 1074px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1114px) {
    .ctn {
        width: 900px;
    }
}

@media (max-width:940px) {
    .ctn {
        width: 750px;
    }
}

@media (max-width:790px) {
    .ctn {
        width: 90%;
    }
}

/*---------------------------------HEADER--------------------------------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    background: rgba(233, 240, 255, 0.99);
    box-shadow: 0px 4px 20px 0px rgba(6, 17, 38, 0.20);
}

.header_ctn {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ctn>* {
    width: 40px;
    height: 40px;
}

@media (max-width:780px) {
    .header_ctn>* {
        width: 30px;
        height: 30px;
    }

    .header {
        height: 50px;
    }
}

/*---------------------------------MAIN--------------------------------------*/

.main_section {
    height: 667px;
    margin-top: 130px;
    background: url('./src/main_background.png');
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    padding: 65px;
}

.main_title {
    color: #E9F0FF;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
}

.main_desc {
    color: #E9F0FF;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.6px;
    margin-bottom: 85px;
}

.main_button {
    padding: 25px 50px 25px 50px;
    border-radius: 10px;
    background: #D7E3FC;
    color: #062D78;
    font-size: 40px;
    font-weight: 600;
    transition: all 0.2s;
}

.main_button:hover {
    background: #E9F0FF;
    color: #2D70F2;
}

@media (max-width:940px) {
    .main_title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .main_desc {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 85px;
    }

    .main_button {
        padding: 15px 40px 15px 40px;
        color: #062D78;
        font-size: 30px;
        font-weight: 600;
    }
}

@media (max-width:780px) {
    .main_title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main_desc {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .main_button {
        padding: 10px 20px 10px 20px;
        color: #062D78;
        font-size: 20px;
        font-weight: 600;
    }

    .main_section {
        height: 450px;
        margin-top: 80px;
    }
}

@media (max-width:700px) {
    .main_title {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

@media (max-width:630px) {
    .main_title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main_desc {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .main_button {
        padding: 10px 20px 10px 20px;
        color: #062D78;
        font-size: 15px;
        font-weight: 600;
    }

    .main_section {
        padding: 40px;
        height: 350px;
    }
}

@media (max-width:530px) {
    .main_title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main_desc {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .main_button {
        padding: 10px 20px 10px 20px;
        color: #062D78;
        font-size: 15px;
        font-weight: 600;
    }

    .main_section {
        border-radius: 30px;
        padding: 20px;
        height: 320px;
    }
}

@media (max-width:490px) {
    .main_title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main_desc {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .main_button {
        padding: 10px 20px 10px 20px;
        color: #062D78;
        font-size: 15px;
        font-weight: 600;
    }

    .main_section {
        border-radius: 20px;
        height: 270px;
    }
}

@media (max-width:400px) {
    .main_title {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .main_desc {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .main_button {
        padding: 10px 20px 10px 20px;
        color: #062D78;
        font-size: 15px;
        font-weight: 600;
    }

    .main_section {
        border-radius: 20px;
        height: 270px;
    }
}

/*----------------------------------------BANNER---------------------------------------*/

.banner {
    margin-top: 80px;
    width: 100%;
    border-radius: 50px;
}

@media (max-width:530px) {
    .banner {
        border-radius: 30px;
        margin-top: 50px;
    }
}

@media (max-width:490px) {

    .banner {
        border-radius: 20px;
    }
}


/*----------------------------------------RAYON---------------------------------------*/

.rayon {
    margin-top: 80px;
    border-radius: 50px;
    background: #D7E3FC;
    padding: 65px;
    height: auto;
}

.rayon-content {
    display: flex;
    margin-top: 50px;
}

.rayon-img {
    width: 466px;
    height: 310px;
    border-radius: 30px;
}

.rayon-desc {
    color: #061126;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-left: 40px;
}

.rayon-title {
    color: #061126;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width:1114px) {
    .rayon-img {
        width: 400px;
    }
}

@media (max-width:940px) {
    .rayon-content {
        flex-direction: column;
    }

    .rayon-img {
        width: 100%;
        height: auto;
    }

    .rayon-desc {
        margin-left: 0;
        margin-top: 40px;
        font-size: 25px;
        font-weight: 500;
    }
}

@media (max-width:780px) {
    .rayon-title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .rayon-desc {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width:700px) {
    .rayon-title {
        font-size: 35px;
        font-weight: 700;
    }
}

@media (max-width:630px) {
    .rayon-title {
        font-size: 30px;
        font-weight: 700;
    }

    .rayon-desc {
        font-size: 15px;
        font-weight: 500;
    }

    .rayon {
        padding: 40px;
    }
}

@media (max-width:530px) {
    .rayon-title {
        font-size: 30px;
        font-weight: 700;
    }

    .rayon-desc {
        font-size: 15px;
        font-weight: 500;
    }

    .rayon {
        padding: 20px;
        margin-top: 40px;
    }
}

@media (max-width:490px) {
    .rayon-title {
        font-size: 20px;
        font-weight: 700;
    }

    .rayon-desc {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 500;
    }

    .rayon-content {
        margin-top: 10px;
    }

    .rayon {
        border-radius: 20px;
    }
}

@media (max-width:400px) {
    .rayon-title {
        font-size: 17px;
        font-weight: 700;
    }

    .rayon-desc {
        font-size: 12px;
        font-weight: 500;
    }
}

/*-----------------------------------------------------------PROJECT------------------------------------------*/

.project {
    margin-top: 80px;
}

.project-title {
    text-align: center;
    color: #061126;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 80px;
}

.project_cards {
    display: flex;
    justify-content: space-between;
}

.project-card {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #D7E3FC;
    width: 320px;
    height: 375px;
}

.project-card_desc {
    color: #061126;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.project-card_img {
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}

@media (max-width:1114px) {
    .project_cards {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .project-card_img {
        width: 30%;
        height: auto;
    }
}

@media (max-width:940px) {
    .project-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .project-card_desc {
        font-size: 25px;
    }
}

@media (max-width:780px) {
    .project_title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .project-card_desc {
        font-size: 20px;
    }

    .project {
        margin-top: 80px;
    }
}

@media (max-width:700px) {
    .project-title {
        font-size: 35px;
    }
}

@media (max-width:630px) {
    .project-title {
        font-size: 30px;
    }

    .project-card_desc {
        font-size: 15px;
    }
}

@media (max-width:530px) {
    .project-title {
        font-size: 30px;
    }

    .project-card_desc {
        font-size: 15px;
    }
}

@media (max-width:490px) {
    .project_title {
        font-size: 20px;
    }

    .project-card_desc {
        font-size: 15px;
    }
}

@media (max-width:400px) {
    .project-title {
        font-size: 17px;
    }

    .project-card_desc {
        font-size: 12px;
    }
}

.footer {
    background: #062D78;
    width: 100%;
    height: 153px;
    margin-top: 100px;
}

.footer-content_one {
    color: #D7E3FC;
    font-size: 40px;
    font-weight: 500;
    margin-right: 40px;
}

.fv {
    font-size: 50px;
    font-weight: 900;
}

.footer_ctn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width:1114px) {
    .footer-content_one{
        font-size: 30px;
    }
}

@media (max-width:770px) {
    .footer{
        margin-top: 50px;
        height: 90px;
    }
}

@media (max-width:500px) {
    .footer-content_one{
        font-size: 15px;
        margin-right: 15px;
    }
    .footer{
        height: 50px;
    }
}