{% extends "_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/paginator.css' %}">
<link rel="stylesheet" href="{% static 'styles/user_list.css' %}">
{% endblock styles %}




{% block main %}
<div class="container container__margin">

<p class="headline">Пользователи</p>

<section class="businessmen">
    <div class="businessmen_ctn">
        {% for user in users %}
                <div class="businessmen_card">
                    <a href="{% url 'user_detail' pk=user.pk %}">
                    <img src="{{ user.avatar.url }}" alt="" class="businessmen_img">
                    </a>
                    <div class="businessmen_text">
                        <h3 class="businessmen_name">
                            {% if user.last_name %} 
                                {{ user.last_name }} 
                            {% else %} 
                                Неизвестно 
                            {% endif %}
                            {% if user.first_name %} 
                                {{ user.first_name }} 
                            {% else %} 
                                Неизвестно 
                            {% endif %}
                            {% if user.middle_name %} 
                                {{ user.middle_name }} 
                            {% endif %}
                        </h3>
                        <a href="{{ user.trelegram_url }}"><p class="businessmen_telegram">Telegram</p></a>
                        <p class="businessmen_inn">ИНН: {{ user.taxpayer }} </p>
                    </div>
                </div>
        {% endfor %}
    </div>
</section>

<div class="paginator">
    {% if is_paginated %}
    
        {% if page_obj.paginator.page_range|length < 5 %}
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <a href="?page={{i}}"><div class="paginator-options paginator-current"> {{ i }}</div></a>
                {% else %}
                    <a href="?page={{i}}"><div class="paginator-options"> {{ i }}</div></a>
                {% endif %}
            {% endfor %}
        {% else %}
            <a href="?page=1"><div class="paginator-options paginator-current">&laquo;</div></a>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.previous_page_number }}</div></a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><div class="paginator-options paginator-current">{{ page_obj.next_page_number }}</div></a>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}"><div class="paginator-options paginator-current">&raquo;</div></a>
        {% endif %}
    {% endif %}
</div>

</div>
{% endblock main %}