{% extends "_base.html" %}
{% load static %}

{% block title %}Document{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/account.css' %}">
<link rel="stylesheet" href="{% static 'styles/product.css' %}">
<link rel="stylesheet" href="{% static 'styles/changing.css' %}">
{% endblock styles %}

{% block main %}
<!-- <h1>Затычка</h1> -->
<!-- 
смену на инпут сделаем через display: none и window refresh
 -->
 
 <div class="container">

{% include 'components/new_product_form.html' %}

 <div class="user-information">
    <div class="info__perepheral">
        {% if user_object.avatar %}
            <img class="user-avatar" src="{{ user_object.avatar.url }}" alt="">
        {% else %}
            <img class="user-avatar" src="{% static 'statics/avatar.webp' %}" alt="">
        {% endif %}
        <a href="{{ user_object.telegram_url }}"><div class="info__written">Написать</div></a>
    </div>
    <div class="info__core">
        <p class="person_information">
            {% if user_object.last_name %} 
                {{ user_object.last_name }} 
            {% else %} 
                Неизвестно 
            {% endif %}
            {% if user_object.first_name %} 
                {{ user_object.first_name }} 
            {% else %} 
                Неизвестно 
            {% endif %}
            {% if user_object.middle_name %} 
                {{ user_object.middle_name }} 
            {% else %} 
                Неизвестно 
            {% endif %}
            {% if current_user == user_object %} 
                <a href="{% url 'user_update' pk=user_object.pk %}">
                    <img class="img__update" src="{% static 'statics/writing-icon.svg' %}" />
                </a>
            {% endif %}
        </p>
        <p class="taxpayer">ИНН: {% if user_object.taxpayer %} {{ user_object.taxpayer }} {% else %} Неизвестно {% endif %}</p>
    </div>
</div>

{% for item in products %}
<div class="container__product">
    <img class="image__product" src="{{ item.image.url }}" alt="">

    <div class="product__info">
        <div class="product-info__detail">
            <p>{{ item.title }}</p>
            <p class="product__price">от {{ item.price }} р. </p>
        </div>
        <div class="product-info__owner">
            <p class="product__city">{{ item.city }}</p>
            <p class="product__fio">{{ item.user.first_name }} {{ item.user.last_name }} <img src="{% static 'statics/mes__product.svg' %}" alt=""></p>
        </div>
    </div>
</div>
{% endfor %}

{% if current_user == user_object %}
    <button class="button__create" id="product__create-button" onclick="manageProductForm()">
        <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg" class="plus">
            <circle cx="44" cy="44" r="44" fill="#062D78"/>
            <rect x="20.9111" y="40.0792" width="46.1782" height="7.84158" rx="3.92079" fill="#D9D9D9"/>
            <rect x="47.9209" y="20.9109" width="46.1782" height="7.84158" rx="3.92079" transform="rotate(90 47.9209 20.9109)" fill="#D9D9D9"/>
        </svg>
        Добавить услугу или товар</button>
{% endif %}

</div>

{% block script %}
    <script src="{% static 'js/createProduct.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
{% endblock script %}

{% endblock main %}
