{% load static %}

<header class="header">
    <div class="ctn header_ctn">
        <img src="{% static 'statics/logo.svg' %}" alt="logo" class="header_logo">
        <div class="burger_menu">
            <svg viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="25.9999" width="39" height="8" rx="2" fill="#2D70F2" />
                <rect y="12.9999" width="39" height="8" rx="2" fill="#2D70F2" />
                <rect y="-6.10352e-05" width="39" height="8" rx="2" fill="#2D70F2" />
            </svg>
        </div>
    </div>
</header>