.news-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.news-image__detail {
    margin: 28px 0;
    border-radius: 16px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.news-data__detail {
    margin-bottom: 18px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}

.news-description__detail {
    font-size: 26px;
}

.news-title__detail {
    font-size: 36px;
}

@media(max-width: 970px) {
    .news-content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .news-data__detail {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .news-title__detail {
        font-size: 32px;

    }

    .news-image__detail {
        max-height: 400px;
    }

    .news-description__detail {
        font-size: 22px;
    }
}

@media(max-width: 800px) {
    .news-image__detail {
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;        
    }
}


@media(max-width: 600px) {
    .news-content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .news-data__detail {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .news-title__detail {
        font-size: 24px;
    }

    .news-image__detail {
        max-height: 300px;
    }

    .news-description__detail {
        font-size: 18px;
    }
}