#avatar_label {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

#id_avatar {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }


#product__create {
    display: none;

    position: fixed;
    left: 50%;
    top: 2vh;
    transform: translate(-50%);

    z-index: 5;
    width: 95%;
    max-width: 500px;
}

#selected_id {
	appearance: none;
}

.close__form {
    display: grid;
    position: absolute;
    right: 20px;
    top: 20px;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    color: white;
    background-color: rgba(242, 45, 80, 1);
    transform: rotate(135deg);
    align-content: center;
    justify-items: center;    

    cursor: pointer;
}

#photo_label, #avatar_label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 32px;

    background: #2D70F2;
    color: #D7E3FC;

    border-radius: 10px;
    
    height: 80px;
    width: 100%;
    padding: 20px 61px;
}

#selected_id {
    color: rgba(6, 45, 120, 0.5);
}

/*--------------------------------In common form classes----------------------------*/

.container__form {
    margin-top: 169px;
    margin-bottom: 169px;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    border-radius: 16px;
    background: #E9F0FF;
    box-shadow: 0px 4px 20px 0px rgba(6, 17, 38, 0.20);

    margin: 0 auto;
    padding: 60px 60px 80px 60px;

    max-width: 806px;

    height: auto;
    text-align: center;
    font-size: 60px;
}

.form__leave {
    padding: 60px !important;
}
 
.active_form {
    height: auto;
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.form_line {
    border-radius: 10px;
    background: #D7E3FC;
    color: #062D78; 

    padding: 14px 42px;

    height: 80px;
    width: 100%;

    font-size: 32px;
    font-weight: 500;

    outline: none;
}

.form_image_input {
    font-weight: 500;
    font-size: 40px;
    text-align: center;

    background: #2D70F2;
    color: #D7E3FC;

    border-radius: 10px;

    width: 100%;
    padding: 25px 65px;
    margin-top: 83px;
}

.form_line::placeholder {
    color: rgba(6, 45, 120, 0.5);
}

.form_button {
    font-weight: 500;
    font-size: 32px;
    width: 100%;
    text-align: center;

    background: #2D70F2;
    color: #D7E3FC;

    border-radius: 10px;

    padding: 14px 42px;
}

.form_button:hover{
    cursor: pointer;
    background: #D7E3FC;
    color: #2D70F2;
}

.yes_button {
    width: 207px;
}

.no_button{
    width: 207px;
    background: #F22D50;
}

.no_button:hover{
    color: #F22D50;
    background-color: #D7E3FC;
} 

.form__logout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}

.form_title {
    margin-bottom: 40px;
    color: #061126;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

@media (max-width: 920px) {
    .container__form {
        margin: 60px auto;
    }

}

@media (max-width:  880px) {
    .active_form {
        gap: 32px;
    }

    .form {
        padding: 20px 30px 20px 20px;
    }

    .form_line {
        padding: 14px 32px;
        font-size: 28px;
    }

    .form_title {
        font-size: 32px;
    }

    .form_line::placeholder, #photo_label, #avatar_label, .main_button {
        font-size: 28px;
    }
}

@media (max-width: 625px) {
    .form {
        padding: 40px 40px 60px 40px;
    }

    .container__form {
        max-width: 100% !important;
        width: 100% !important;
    }

    .form_title {
        font-size: 28px;
    }

    .form_line {
        padding: 12px 28px;
        font-size: 24px;
        height: 72px;
    }

    #photo_label, #avatar_label {
        height: 72px;
        padding: 12px 28px;
    }

    .form_line::placeholder, #photo_label, #avatar_label, .main_button {
        font-size: 24px;
    }
}


@media (max-width: 500px) {
    .form_title {
        font-size: 26px;
    }

    .form {
        padding: 30px 20px;
    }

    .form_line {
        padding: 12px 24px;
        font-size: 18px;
        height: 68px;
    }

    #photo_label, #avatar_label {
        height: 68px;
        padding: 12px 24px;
    }

    .form_line::placeholder, #photo_label, #avatar_label, .main_button {
        font-size: 18px;
    }
}

/* 
label {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    background: #D7E3FC;
    height: 70px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    padding-left: 50px;
    font-weight: 400;

    text-align: start;
    color: rgba(6, 45, 120, 0.5);
}

.file_button{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.autorization_form{
    height: 600px;
}

.active_form_auth{
    height: 70%;
}

.logout_form{
    max-width: 700px;
    height: fit-content;
    margin: 50px auto;
}

.active_form_logout{
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-around;
}

@media (max-width:650px) {

    .form_title{
        font-size: 40px;
    }
    .form_line, label, #avatar_label {
        font-size: 25px;
        height: 50px;
        padding-left: 30px;
    }

    .logout_title{
        font-size: 30px;
    }

    .form{
        padding: 40px;
    }

    .autorization_form{
        height: 400px;
    }

    .logout_form{
        height: 300px;
    } 

    .form_button{
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .form_title{
        font-size: 25px;
    }

    .logout_title{
        font-size: 20px;
    }

    .form_line, label, #avatar_label{
        font-size: 20px;
        height: 40px;
        padding-left: 15px;
    }

    .form{
        padding: 30px;
        border-radius: 30px;
    }

    .autorization_form{
        height: 300px;
    }
    .logout_form{
        height: 250px;
    } 

    .form_button{
        font-weight: 500;
        font-size: 15px;
    }
} *