.flag-services > a, .flag-services > a:link, .flag-services > a:visited {
    color: rgba(6, 17, 38, 0.5);
}

.flag-services {
    color: rgba(6, 17, 38, 0.5);
    font-size: 42px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 700;
    width: fit-content;
}

.service__current {
    color: black;
}

.service__container {
    justify-self: start;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 960px) {
    .flag-services {
        font-size: 32px;
        margin-bottom: 36px;
    }
}

@media (max-width: 760px) {
    .flag-services {
        font-size: 28px;
        margin-bottom: 28px;

    }
}

@media (max-width: 545px) {
    .service__container {
        margin-top: 35px;
        margin-bottom: 35px;
}
}

@media (max-width: 560px) {
    .flag-services {
        font-size: 24px;
        margin-bottom: 24px;

    }
}
