{% extends '_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/interaction_with_accounts.css' %}">
{% endblock styles %}

{% block main %}
<div class="container container__form">
    <div class="form">
        <h2 class="form_title">
            Вход
        </h2>
        <form method="post" class="active_form">
            {% csrf_token %}
            <input id="id_login" name="login" placeholder="Почта или ник" class="form_line" />
            <input id="id_password" name="password" type="password" placeholder="Пароль" class="form_line" />
            <input type="submit" class="form_button" value="Войти" />
        </form>
    </div>
</div>
{% endblock main %}