{% extends '_base.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/interaction_with_accounts.css' %}">
{% endblock styles %}

{% block title %}Выход из аккаунта{% endblock title %}

{% block main %}
    <div class="container container__form">
        <div class="form">
            <h2 class="form_title">
                Вы уверены, что хотите выйти?
            </h2>
            <form method="post" class="active_form form__logout" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                <input class="form_button main_button yes_button" type="submit" value="Да">
                <input class="form_button main_button no_button" type="button" value="Нет">
            </form>
        </div>
    </div>
{% endblock main %}